 body{
            background-color: rgb(255, 255, 255);
        }
        h1{
            color: rgb(0, 0, 0);
        }
        #html{
            color: rgb(216, 185, 10);
        }
        #CSS{
            color: rgb(11, 153, 247);
        }
        #JavaScript{
            color: rgb(221, 172, 11);
        }


        #CURTIDAS{
            background-color: rgb(2, 144, 179); 
            color: rgb(0, 0, 0);
            padding: 5px 10px 5px 10px;
            border: 2px solid rgb(5, 156, 243);
            border-radius: 12px;
            

        }